{% extends 'tickets/base.html' %}


{% block content %}

    <div>
        {% if user.is_authenticated %}

                 {% for ticket in tickets %}
                     <!-- status 4 is for closed tickets. So listing only the active ones. -->
                      {% if ticket.status != 4 %}
                        <li><a href="{% url 'ticket_detail' ticket.id %}" >{{ ticket.title }}</a></li>
                      {% endif %}
                 {% endfor %}

        {% endif %}
    </div>
{% endblock %}

